<header class="header_section" style="background: #0c0c0c">
  <div class="header_bottom">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
              <span>
                JS Group
              </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li [ngClass]="currentPage=='home' ? 'nav-item active' : 'nav-item' ">
              <a class="nav-link" href="index.html">Home
                <span *ngIf="currentPage=='home'" class="sr-only">(current)</span>
              </a>
            </li>
            <li [ngClass]="currentPage=='about-us' ? 'nav-item active' : 'nav-item'">
              <a class="nav-link" href="/about-us"> About Us
                <span *ngIf="currentPage=='about-us'" class="sr-only">(current)</span>
              </a>
            </li>
            <li [ngClass]="currentPage=='partners' ? 'nav-item active' : 'nav-item'">
              <a nz-dropdown [nzDropdownMenu]="menu" class="nav-link">
                Our Business
                <span nz-icon nzType="down"></span>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item routerLink="/malaysia-business">Malaysia</li>
                  <li nz-menu-item routerLink="/cambodia-business">Cambodia</li>
                </ul>
              </nz-dropdown-menu>
            </li>
            <li [ngClass]="currentPage=='investor-relation' ? 'nav-item active' : 'nav-item'">
              <a class="nav-link" href="/investor-relation"> Our Projects </a>
            </li>
            <li [ngClass]="currentPage=='investor-relation' ? 'nav-item active' : 'nav-item'">
              <a class="nav-link" href="/investor-relation"> Latest News </a>
            </li>
            <li [ngClass]="currentPage=='media' ? 'nav-item active' : 'nav-item'">
              <a class="nav-link" href="/media"> Gallery </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us"> Contact Us </a>
            </li>
            <li class="nav-item">
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
