<div class="hero_area">
  <app-header [currentPage]="'home'"></app-header>
  <!-- end slider section -->
  <section class="curved-section">
    <img src="./assets/images/cover.jpg" alt="Image Description">
    <app-title-animation></app-title-animation>
  </section>
</div>

<!-- content highlight-->
<section class="content_highlight_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center py-5">
      <h2 class="text-white">
        Content Highlights
      </h2>
    </div>
    <nz-carousel [nzAutoPlay]="true" [nzEffect]="'fade'">
      <div nz-carousel-content *ngFor="let image of images">
        <div class="row">
          <div class="col-md-6 px-0">
            <div class="img_container">
              <div class="img-box">
                <img [src]="image.imageUrl" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6 px-0">
            <div class="detail-box">
              <div class="heading_container ">
                <h2>
                  {{image.description}}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-carousel>
  </div>
</section>
<!-- end content highlight-->

<!-- about section -->


<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="./assets/images/logo.png" alt=""/>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container ">
            <h2>
              ABOUT US
            </h2>
          </div>
          <p>
            Founded in 2014, JS GROUP has been at the forefront of the real estate development scene in Phnom Penh, specializing in the creation of condominiums that cater to diverse lifestyles while remaining affordable. Our journey began with a collective vision shared by entrepreneurs from Cambodia, Malaysia, and Hong Kong, each bringing a wealth of experience in property, hospitality, and industrial development across Cambodia and the wider region....

          </p>
          <div class="btn-box">
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

<!-- service section -->

<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2 class="text-white">
        Our Business
      </h2>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let business of businessModels">
        <app-card-flip [business]="business"></app-card-flip>
      </div>
    </div>
  </div>
</section>

<section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2 class="text-black">
        Milestones
      </h2>
    </div>
    <app-timeline [mileStones]="mileStoneModels"></app-timeline>
  </div>
</section>

<section class="contact_section layout_padding" style="background: #0c0c0c">
  <div class="contact_bg_box">
    <div class="img-box">
      <img src="./assets/images/contact-bg.jpg" alt="">
    </div>
  </div>
  <div class="container">
    <div class="heading_container heading_center">
      <h2 class="text-white">
        Latest News
      </h2>
    </div>
    <div>
      <app-latest-news [images]="latestNewsModels"></app-latest-news>
    </div>
  </div>
</section>

<section class="team_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Projects
      </h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 mx-auto ">
        <div class="box">
          <div class="img-box">
            <img src="./assets/projects/t1.png" alt="">
          </div>
          <div class="detail-box">
            <h5 class="text-white">
              The Garden Residency
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mx-auto ">
        <div class="box">
          <div class="img-box">
            <img src="./assets/projects/t2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5 class="text-white">
              The Garden Residency 2
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mx-auto ">
        <div class="box">
          <div class="img-box">
            <img src="./assets/projects/t3.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5 class="text-white">
              Chef Tower
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        View All
      </a>
    </div>
  </div>
</section>
<app-footer></app-footer>
<nz-dropdown-menu #menu4="nzDropdownMenu">
  <ul nz-menu class="bg-dark">
    <li nz-menu-item class="text-white"><a href="http://localhost:2000/">JS LAND PLC</a></li>
    <li nz-menu-item class="text-white"><a href="http://localhost:3000/">JS PROPERTY</a></li>
    <li nz-menu-item class="text-white"><a href="http://localhost:4000/">JS VENTURE</a></li>
  </ul>
</nz-dropdown-menu>

