<div class="hero_area">
  <!-- header section strats -->
  <!--  <div class="hero_bg_box" >-->
  <!--    <div class="img-box">-->
  <!--      <img src="./assets/images/hero-bg.jpg" alt="">-->
  <!--    </div>-->
  <!--  </div>-->

  <app-header [currentPage]="'partners'"></app-header>

  <!-- end header section -->
  <!-- slider section -->
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="text-white">
          Our Business - Malaysia
        </h2>
      </div>
      <div class="row">
        <div class="box ">
          <div class="detail-box">
            <h6>
              T2 Interactive International Sdn Bhd
            </h6>
            <p>
              Minima consequatur architecto eaque assumenda ipsam itaque quia eum in doloribus debitis impedit ut
              minus tenetur corrupti excepturi ullam.
            </p>
            <a href="http://localhost:5000">
              Go
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>
<!-- footer section -->
<app-footer></app-footer>

