<div class="hero_area">
  <!-- header section strats -->
<!--  <div class="hero_bg_box" >-->
<!--    <div class="img-box">-->
<!--      <img src="./assets/images/hero-bg.jpg" alt="">-->
<!--    </div>-->
<!--  </div>-->

  <app-header [currentPage]="'about-us'"></app-header>
  <!-- end header section -->
  <!-- slider section -->
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="text-white">
          About Us
        </h2>
      </div>
      <div class="text-white">
        <p>
          Founded in 2014, JS GROUP has been at the forefront of the real estate development scene in Phnom Penh, specializing in the creation of condominiums that cater to diverse lifestyles while remaining affordable. Our journey began with a collective vision shared by entrepreneurs from Cambodia, Malaysia, and Hong Kong, each bringing a wealth of experience in property, hospitality, and industrial development across Cambodia and the wider region.
        </p>
        <br/>
        <p>
          We take pride in pioneering the concept of accessible condominium living in Phnom Penh, with a particular focus on the vibrant Sen Sok district, known for its dynamic growth and modernization. In 2015, we introduced our inaugural residential project, The Garden Residency, offering a blend of contemporary living and affordability. The successful completion and handover of this project in 2019 marked a significant milestone for us.
        </p>
        <br/>
        <p>
          Recognizing the evolving needs of businesses, in 2017, we established JS PROPERTY INTERNATIONAL to focus on commercial real estate ventures. This initiative led to the launch of Chief Tower in 2019, a premier mixed-use development in the heart of Phnom Penh, poised to redefine the city's commercial landscape upon its completion in 2024.        </p>
        <br/>
        <p>
          Continuing our commitment to providing quality living spaces, we embarked on our second residential project, The Garden Residency 2, in 2020. Completed and handed over on October 2023, this project reaffirms our dedication to meeting the housing needs of Cambodia community.        </p>
        <br/>
        <p>
          In a significant move towards transparency and growth, 2022 saw JS GROUP transform into a public limited company and achieve public listing on the Cambodia Securities Exchange (CSX) on February 10, 2022. This transition reflects our commitment to upholding the highest standards of corporate governance and serving the interests of our stakeholders.        </p>
        <br/>
        <p>
          At JS GROUP, we are not just developers; we are creators of vibrant communities and sustainable environments. We continue to shape the future of real estate in Cambodia and beyond.        </p>
      </div>
    </div>
  </section>
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="text-white">
          Our Vision & Mission
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="detail-box">
              <h6>
                VISION
              </h6>
              <p>
                By insisting on continually adopting state-of-the-art construction technologies and the latest architectural design trends, it is our vision that all Cambodians will be able to own genuine and affordable homes with the finest workmanship.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="detail-box">
              <h6>
                MISSION
              </h6>
              <p>
                The company primary mission is to build homes that meet the needs of the Cambodians and to deliver properties with quality that inspire and enrich the lives of the homeowners.
              </p>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end service section -->
  <!-- end slider section -->
</div>
<!-- footer section -->
<app-footer></app-footer>

