<div class="hero_area">
  <!-- header section strats -->
<!--  <div class="hero_bg_box" >-->
<!--    <div class="img-box">-->
<!--      <img src="./assets/images/hero-bg.jpg" alt="">-->
<!--    </div>-->
<!--  </div>-->

  <app-header [currentPage]="'about-us'"></app-header>
  <!-- end header section -->
  <!-- slider section -->
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="text-white">
          About Us
        </h2>
      </div>
      <div class="text-white">
        <p>
          Established in 2014, JS GROUP is principally engaged in the development of condominium and was among the industry pioneers in the affordable lifestyle condominium industry in Phnom Penh. Founded by a group of entrepreneurs from Cambodia, Malaysia & Hong Kong, with broad range of experiences in property, hotels & industrial development both in Cambodia and in the region. With diversify and combine experience, JS GROUP has risen through the ranks of prominent and award winning property developers a in Cambodia.

          JS GROUP are the pioneers to introduce affordable condominium project in Phnom Penh mainly focusing in Sen Sok district - a growing and modernising district in the northwest of Phnom Penh’s city centre.

          On 2015, we successfully launched a residential projects  - The Garden Residency - a lifestyle and affordable condominiums. The project was completed and handed over on 2019.
        </p>
        <br/>
        <p>
          On 2017, JS GROUP sees the demand on commercial development and formed JS PROPERTY INTERNATIONAL to focus on commercial development.

          On 2019, JS PROPERTY INTERNATIONAL successfully launched Chief Tower, one of the highest mix development building in the heart of Phnom Penh. The commercial project is schedule to be completed and hand over on 2024.

          On 2020, we have launched our 2nd residential projects – The Garden Residency 2. The project is scheduled to be completed and hand over September 2023.

          On 2022, The company was subsequently converted into a public limited company and successfully public listed on Cambodia Securities Exchange (CSX) on 10 February 2022.
        </p>
      </div>
    </div>
  </section>
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="text-white">
          Our Vision & Mission
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="detail-box">
              <h6>
                VISION
              </h6>
              <p>
                By insisting on continually adopting state-of-the-art construction technologies and the latest architectural design trends, it is our vision that all Cambodians will be able to own genuine and affordable homes with the finest workmanship.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="detail-box">
              <h6>
                MISSION
              </h6>
              <p>
                The company primary mission is to build homes that meet the needs of the Cambodians and to deliver properties with quality that inspire and enrich the lives of the homeowners.
              </p>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end service section -->
  <!-- end slider section -->
</div>
<!-- footer section -->
<footer class="container-fluid footer_section">
  <p>
    &copy; <span id="currentYear"></span> All Rights Reserved. Design by
    <a href="https://html.design/">Free Html Templates</a>
  </p>
</footer>
